{% extends "layout.html" %}

{% block content %}
<div class="page-dark">
    <main class="main">
        <section class="card-dark">
            <h1>Welcome back!</h1>
            <p class="muted">Log in to access the cell-predictor tool.</p>

            <form method="POST" action="{{PREFIX}}{{ url_for('login') }}">
                <div class="form-row">
                    <label for="email">User email</label>
                    <input type="email" id="email" name="email" placeholder="name@domain.com" required>
                </div>

                <div class="form-row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="••••••••" required>
                </div>

                {% if error %}
                    <p style="color: #ff0000; font-size: 0.85rem; text-align: center; margin-top: 10px;">
                        {{ error }}
                    </p>
                {% endif %}

                <div class="actions">
                    <button type="submit" class="btn-red">Log in</button>
                </div>

                <p class="muted" style="color:aliceblue ; margin-top: 25px;">
                    You don't have an account yet?  
                    <a href="{{PREFIX}}{{ url_for('register') }}" style="color: #ff0000; text-decoration: none;"> Sign up</a>
                </p>
            </form>
        </section>
    </main>
</div>
{% endblock %}