<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlowCyto</title>
</head>

<body>
    <form #CUANDO ESCRIBAN COMO RECIBIR LOS LOGINS METER METHODS>
        <fieldset>
        <legend>Welcome user! :)</legend>

        <div>
            <label for="name">User email:</label><br>
            <input type="text" id="name" name="user_name" />
        </div>
        <br>
        <div>
            <label for="password">Enter your password:</label><br>
            <input type="password" id="password" name="user_password" />
        </div>
        <br>
        <button type="submit">Log in</button>
    </fieldset>
    </form>
</body>
</html>

